<div class="row hero-section">
  <div class="col-md-6">
    <div class="container mx-auto">
      <div class="fs-1 fw-bold">
        Ready for Financial Freedom? <br> Embark on a Journey of Financial Empowerment with Wise Wallet.
      </div>
      <p class="fs-4 mt-3 fw-normal">
        Wise Wallet, your free and easy-to-use financial companion 💵.
        Effortlessly manage expenses, track your net worth, and receive
        personalized insights. Experience the simplicity of smart finance.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mx-auto">
      <img src="assets/piechart.png" width="100%">
    </div>
  </div>
</div>
