<div class="custom-container">
  <div class="container surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-weight-bold text-3xl">
      <span class="text-dark">One Product, </span>
      <span class="fw-bold">Many Solutions</span>
    </div>
    <div class="text-secondary mb-4 mt-4">
      Experience seamless financial management with WiseWallet, where intuitive
      design meets powerful features. Take control of your financial journey and
      plan for a secure future effortlessly.
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-4 mb-4 px-5">
        <span
          class="p-4 shadow mb-3 d-inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-desktop fs-2 text-dark"></i>
        </span>
        <div class="text-dark fs-5 mb-3 fw-medium">
          Personal Finance Made Easy
        </div>
        <span class="text-secondary line-height-3"
          >Take control of your finances with WiseWallet. Manage expenses, track
          investments, and plan for the future effortlessly.</span
        >
      </div>
      <div class="col-12 col-md-4 mb-4 px-5">
        <span
          class="p-4 shadow mb-3 d-inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-chart-line fs-2 text-dark"></i>
        </span>
        <div class="text-dark fs-5 mb-3 fw-medium">Grow with Your Goals</div>
        <span class="text-secondary line-height-3"
          >Experience the scalability of WiseWallet. It adapts to your financial
          aspirations, whether it's saving for a dream vacation or planning for
          retirement.</span
        >
      </div>
      <div class="col-12 col-md-4 mb-4 px-5">
        <span
          class="p-4 shadow mb-3 d-inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-search fs-2 text-dark"></i>
        </span>
        <div class="text-dark fs-5 mb-3 fw-medium">
          Intuitive Financial Insights
        </div>
        <span class="text-secondary line-height-3"
          >Discover the power of intuitive design. WiseWallet provides clear
          insights into your financial data, making it easy to understand and
          manage.</span
        >
      </div>
      <span class="mt-4"></span>
      <div class="col-12 col-md-4 mb-4 px-5">
        <span
          class="p-4 shadow mb-3 d-inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-cog fs-2 text-dark"></i>
        </span>
        <div class="text-dark fs-5 mb-3 fw-medium">Customized for You</div>
        <span class="text-secondary line-height-3"
          >Tailor WiseWallet to fit your lifestyle. From personalized categories
          to unique dashboards, customize your financial experience.</span
        >
      </div>
      <div class="col-12 col-md-4 mb-4 px-5">
        <span
          class="p-4 shadow mb-3 d-inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-shield fs-2 text-dark"></i>
        </span>
        <div class="text-dark fs-5 mb-3 fw-medium">Your Financial Fortress</div>
        <span class="text-secondary line-height-3"
          >Trust in WiseWallet's robust security features. Your financial data
          is safeguarded with encryption and secure authentication.</span
        >
      </div>
      <div class="col-12 col-md-4 mb-4 px-5">
        <span
          class="p-4 shadow mb-3 d-inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-refresh fs-2 text-dark"></i>
        </span>
        <div class="text-dark fs-5 mb-3 fw-medium">Always Up-to-Date</div>
        <span class="text-secondary line-height-3"
          >Experience continuous updates and support. WiseWallet evolves over
          time with new features, ensuring you always have the latest tools for
          financial success.</span
        >
      </div>
    </div>
  </div>
</div>
