<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="font-weight-bold">Connect with Us:</p>
        <div class="d-flex">
          <a href="#" class="text-white me-3">
            <i class="pi pi-facebook"></i>
          </a>
          <a href="#" class="text-white me-3">
            <i class="pi pi-twitter"></i>
          </a>
          <a href="#" class="text-white me-3">
            <i class="pi pi-linkedin"></i>
          </a>
          <a href="#" class="text-white">
            <i class="pi pi-instagram"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 text-md-end">
        <p class="font-weight-bold">Contact Us:</p>
        <p>Email: {{'wisewallet@help.in'}}</p>
        <p>Phone: +022 456-7890</p>
      </div>
    </div>
  </div>
</footer>
