<div class="card p-4 shadow w-100 lg:w-6 border rounded">
  <div class="text-center mb-5">
      <div class="text-dark fs-3 fw-medium mb-3">Welcome Back</div>
      <span class="text-dark fw-medium line-height-3">Don't have an account?</span>
      <a class="fw-medium text-decoration-none ml-2 text-dark cursor-pointer">Create today!</a>
  </div>

  <div>
      <label for="email1" class="form-label text-dark fw-medium mb-2">Email</label>
      <input id="email1" type="text" placeholder="Email address" class="form-control mb-3">

      <label for="password1" class="form-label text-dark fw-medium mb-2">Password</label>
      <input id="password1" type="password" placeholder="Password" class="form-control mb-3">

      <div class="d-flex align-items-center justify-content-between mb-6">
          <div class="d-flex align-items-center">
              <input type="checkbox" id="rememberme1" class="form-check-input me-2">
              <label for="rememberme1" class="form-check-label text-dark">Remember me</label>
          </div>
          <a class="fw-medium text-decoration-none ms-2 text-dark cursor-pointer">Forgot password?</a>
      </div>

      <button class="btn btn-dark w-100 mt-4" type="button">
        <i class="pi pi-user me-2"></i> Sign In
      </button>
  </div>
</div>
